$white: #fff;

$background: #fcfcfc;

$grey-light: #F1F1F1;
$grey-medium: #A7A2A2;
$grey-dark: #161515;

$neutral-light: lightblue;
$neutral-medium: blue;
$neutral-dark: darkblue;

$success-light: lightgreen;
$success-medium: green;
$success-dark: darkgreen;

$danger-light: lightred;
$danger-medium: red;
$danger-dark: darkred;