$white: #fff;

$background: #fcfcfc;

$grey-light: #F1F1F1;
$grey-medium: #A7A2A2;
$grey-dark: #161515;

$neutral-light: #EDF8FA;
$neutral-medium: #17C7E6;

$success-light: #EDFAF4;
$success-medium: #17E685;

/* $danger-light: #FAF7ED; */
/* $danger-medium: #FFC619; */
$danger-light: #FAF0ED;
$danger-medium: #F25124;

$box-shadow-colour: rgba(242,81,36,0.25);

$gradient-light: #FDF9F7;