$white: #fff;

$grey-light: #F1F1F1;
$grey-medium: #A7A2A2;
$grey-dark: #161515;

$neutral-lightest: #FFF6F5;
$neutral-light: #F8D9D2;
$neutral-medium: #F9A189;
$neutral-dark: #F17A58;

$accent-light: #D4E7FF;
$accent-medium: #71B9FF;
$accent-dark: #2A0240;

$success-light: #fff;
$success-medium: #12DD99;

$danger-light: #fff;
$danger-medium: #EFB139;

$box-shadow-colour: rgba(242,81,36,0.25);