.button {
	background:     $white;
	border: 	      1px solid $pink-medium;
	border-radius:  0.1875rem;
	box-shadow:     0 4px 2px -3px rgba(0,0,0,0.1);
	color:          $grey-dark;
	font-size:      $font-size-sm;
	font-weight:    $font-weight-bold;
	line-height:    1.0;
	line-height:    1.0;
	margin-right:   0.75rem;
	outline:        0;
	padding:        0.5rem 0.75rem;
	position:       relative;
	text-transform: uppercase;
	transition:     $transition-all-short;
}