.button {
	background:     #fff;
	border: 	      1px solid $light;
	border-radius:  0.1875rem;
	box-shadow:     0 4px 2px -3px rgba(0,0,0,0.1);
	color:          $black;
	font-size:      $font-size-sm;
	font-weight:    $font-weight-bold;
	line-height:    1.0;
	line-height:    1.0;
	margin-right:   0.75rem;
	outline:        0;
	padding:        0.5rem 0.75rem;
	position:       relative;
	text-transform: uppercase;
	transition:     $transition-all-short;

	&:hover {
		background:   $light;
	}

	&:active {
		background:   darken($light, 10%);
		border-color: darken($light, 10%);
	}
}