.footer {

	margin: 0 auto;
	min-width: $content-min-width;
  max-width: $content-max-width;

	padding: 4rem 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__credit {
		color: $grey-dark;
		text-decoration: none;
		transition: $transition-all-short;
	}

  &__credit-name {
  	font-weight: $font-weight-semibold;
  }

	&__copy {
		appearance: none;
		background: transparent;
		border: none;
		padding: 0;
	}

}