.footer {
	margin-top: 4rem;
	padding-bottom: 1rem;

	&__credit {
		color: $grey-dark;
		display: block;
		margin: 0 auto;
		text-decoration: none;
		transition: $transition-all-short;
		width: max-content;

		&:last-of-type {
			color: $grey-medium;
			font-size: $font-size-sm;
			margin-top: 0.5rem;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		&:hover {
			color: $neutral-medium;
		}
	}

  &__jazzcup {
		height: 1.0rem;
		margin-left: 0.125rem;
		position: relative;
		top: -1px;
		width: auto;
	}
}