.main {
	flex-grow: 1;
}

.form {
	display: flex;
	margin-top: 3rem;

	&__input {
		background: $grey-light;
		border: none;
		border-radius: 0.25rem 0 0 0.25rem;
		display: block;
		font-size: $font-size-lg;
		line-height: 1;
		outline: none;
		padding: 0.75rem;
		transition: $transition-all-short;
		width: 100%;

		&:hover {
			/* background: $grey-medium; */
		}
	}

	&__button {
		appearance: none;
		background: $neutral-medium;
		border: none;
		border-radius: 0 0.25rem 0.25rem 0;
		color: $white;
		display: inline-block;
		font-size: $font-size-md;
		font-weight: $font-weight-semibold;
		line-height: 1;
		outline: none;
		padding: 1rem;
		transition: $transition-all-short;
		white-space: nowrap;

		&:hover {
			background: $grey-dark;
		}
	}
}

.inbox {
	display: none;
	margin: 5rem auto 0;
	width: max-content;

	&__item {
		align-items: center;
		background: $white;
		border-top: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;
		display: flex;
		padding: 0.5rem 0.75rem;
		pointer-events: none;
		transition: $transition-all-short;
	}

	&__icon {
		border-radius: 50%;
		background: blue;
		height: 1.5rem;
		margin-right: 0.75rem;
		width: 1.5rem;
	}

	&__sender {
		font-weight: $font-weight-semibold;
		margin-right: 2rem;
	}

	&__time {
		color: $grey-medium;
		font-size: $font-size-xs;
		font-weight: $font-weight-semibold;
		margin-left: 0.75rem;
		position: relative;
		top: 1px;
	}
}


.results {
	background: $neutral-light;
	border-left: 0.25rem solid $neutral-dark;
	border-radius: 0.125rem;
	line-height: 1.5;
	margin: 3rem auto 0;
	padding: 0.75rem 1.5rem;
	width: max-content;
	max-width: 100%;

	&__heading {
		font-size: $font-size-md;
	}
}