.main {
	margin: 0 auto;
	min-width: $content-min-width;
  max-width: $content-max-width;

  padding-bottom: 4rem;

  @media only screen and (max-width: 800px) {
  	min-width: 100%;
  	max-width: 100%;
  }
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 2rem;

	@media only screen and (max-width: 700px) {
  	display: block;
  	text-align: center;
  }

	&__title {
		font-size: $font-size-lg;
		font-weight: $font-weight-bold;

		@media only screen and (min-width: 458px) and (max-width: 700px) {
	  	font-size: $font-size-xl;
	  }
	}

	&__tagline {
		font-size: $font-size-lg;

		@media only screen and (min-width: 458px) and (max-width: 700px) {
	  	font-size: $font-size-xl;
	  	margin-top: 0.5rem;
	  }
	}
}

.form {
	margin-top: 4rem;
	padding: 0 4rem;

	@media only screen and (max-width: 600px) {
  	padding: 0;
  }

	&__input {
		background: $white;
		border: 0.0625rem solid $neutral-light;
		border-radius: 0.1875rem;
		display: block;
		font-size: $font-size-lg;
		line-height: 1;
		outline: none;
		padding: 0.75rem;
		transition: $transition-all-short;
		width: 100%;

		&::placeholder {
			color: $neutral-light;
		}

		&:focus {
			box-shadow: $box-shadow-input;
		}
	}

	&__button {
		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0.1875rem;
		display: inline-block;
		font-size: $font-size-md;
		font-weight: $font-weight-semibold;
		line-height: 1;
		margin-top: 0.5rem;
		outline: none;
		padding: 1rem;
		transition: $transition-all-medium;
		white-space: nowrap;
	}

	&__button--primary {
		border: 0.0625rem solid $neutral-dark;
		color: $neutral-dark;
		width: 25%;
		min-width: 7.5rem;

		&:hover {
			background: $neutral-light;
		}
	}

	&__button--secondary {
		background: transparent;
		color: $neutral-dark;
		margin-left: 0.25rem;

		&:hover {
			background: $neutral-light;
		}
	}
}

.inbox {
	display: none;
	font-size: 1rem;
	margin: 4rem auto 0;
	max-width: 100%;
	pointer-events: none;
	position: relative;
	user-select: none;
	width: max-content;

	@media only screen and (max-width: 425px) {
  	font-size: 0.5rem;
  	margin-top: 2rem;
  }

  @media only screen and (min-width: 426px) and (max-width: 750px) {
  	font-size: 0.75rem;
  	margin-top: 2rem;
  }

	&::before,
	&::after {
		bottom: 0;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 1.5em;
	}

	// Before and after pseudos with gradients for fade on inbox preview if desired
	&::before {
		background: linear-gradient( to right, $neutral-lightest, rgba(252,252,252,0) );
	}
	&::after {
		background: linear-gradient( to left, $neutral-lightest, rgba(252,252,252,0) );
		right: 0;
	}

	&__item {
		align-items: center;
		background: $white;
		border-top: 0.0625rem solid $grey-light;
		border-bottom: 0.0625rem solid $grey-light;
		display: flex;
		padding: 0.5em 1.25em;
		pointer-events: none;
		transition: $transition-all-short;
	}

	&__icon {
		background: url('../assets/icons/inbox-icon@2x.png') repeat 0 0;
		background-size: contain;
		border-radius: 50%;
		flex-shrink: 0;
		height: 1.5em;
		margin-right: 0.75em;
		width: 1.5em;
	}

	&__sender {
		font-weight: $font-weight-bold;
		margin-right: 2em;
		white-space: nowrap;
	}

	&__subject {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__time {
		color: $grey-medium;
		font-size: 0.75em;
		font-weight: $font-weight-bold;
		margin-left: 0.75em;
		position: relative;
		top: 0.0625em;
	}
}

.results {
	border-radius: 0.125rem;
	bottom: 1rem;
	color: $white;
	display: none;
	line-height: 1.5;
	padding: 0.75rem 1.25rem;
	width: max-content;
	max-width: calc(100% - 2rem);
	position: absolute;
	right: 1rem;
	z-index: 1;

	@media only screen and (max-width: 425px) {
		width: 100%;
	}

	&--neutral {
		background: $accent-medium;
	}

	&--success {
		background: $success-medium;
	}

	&--danger {
		background: $danger-medium;
	}

	&__heading {
		font-size: $font-size-md;
		font-weight: $font-weight-bold;
	}
}

.copy {
	&__url {
		color: $white;
	}
}