.wrapper {
  padding: 0 1rem;
}

.wrapper--main {
	flex: 1;
	z-index: 2;

	position: relative;

	background: $neutral-lightest;
	border-bottom: 0.0625rem dotted $neutral-medium;
}

.wrapper--footer {
	background: $white;
}

$content-min-width: 50%;
$content-max-width: 45rem;